<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppShop">
        <activity
            android:name=".RestaurantSearchReview"
            android:exported="false" />
        <activity
            android:name=".ShowRestaurantReview"
            android:exported="false" />
        <activity
            android:name=".RestaurantCalendar"
            android:exported="false" />
        <activity
            android:name=".RestaurantSeatList"
            android:exported="false" />
        <activity
            android:name=".RestaurantSeatShow"
            android:exported="false" />
        <activity
            android:name=".RestaurantAccountInfoShow"
            android:exported="false" />
        <activity
            android:name=".Restaurant"
            android:exported="false" />
        <activity
            android:name=".RestaurantAccountInfoChange"
            android:exported="false" />
        <activity
            android:name=".RestaurantRegisterAccount"
            android:exported="false" />
        <activity
            android:name=".ShowResult"
            android:exported="false" />
        <activity
            android:name=".RestaurantLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>